* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  width: 404px;
  background-color: #edf2f4;
  border-radius: 31px;
  padding: 40px;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.login-heading {
  font-size: 32px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.error-container {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  width: 400px;
  font-size: 14px;
}

.error-input {
  border: red solid;
}

.login-subheading {
  font-size: 12px;

  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.login-subheading,
label,
.login-footer,
.login-heading {
  font-weight: 700;
}

label {
  font-size: 12px;

  color: #2b2d42;
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  height: 46px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000040;
  padding: 12px;
  font-size: 14px;
  outline: none;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  margin: 25px 0 30px 0;
}

.create-account {
  color: #2b2d42;
}
.create-account span {
  color: #ef233c;
  text-decoration: underline;
  cursor: pointer;
}
.forget-password {
  color: #ef233c;
  cursor: pointer;
}

.login-button {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: none;
  background-color: #ef233c;
  color: #fff;

  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.login-button:hover {
  background-color: #c71d31;
}

@media (max-width: 450px) {
  .login-container {
    width: 90%;
    padding: 30px 20px;
  }

  .login-footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
