* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-container {
  width: 463px;
  background-color: #edf2f4;
  border-radius: 31px;
  padding: 40px 0;
  text-align: center;
}

.signup-heading {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}
.error-container {
  width: 100%;
  display: none;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.error {
  color: red;
  margin-bottom: 10px;
  width: 400px;
  font-size: 14px;
}

.error-input {
  border: red solid;
}

.signup-subheading {
  font-size: 16px;
  font-weight: 700;
  color: #262323;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  display: block;
  text-align: left;
  width: 304px;
  margin: 0 auto 5px auto;
}

input,
select {
  width: 304px;
  height: 46px;
  border-radius: 6px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #00000040;
  font-size: 14px;
  outline: none;
  margin-bottom: 18px;
  padding: 10px;
}

.signup-footer {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
}

.signup-footer span {
  color: #ef233c;
  text-decoration: underline;
  cursor: pointer;
}

.signup-button {
  width: 234px;
  height: 44px;
  background-color: #ef233c;
  color: #edf2f4;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-button:hover {
  background-color: #c71d31;
}

@media (max-width: 500px) {
  .signup-container {
    width: 90%;
  }
  input,
  select,
  label {
    width: 100%;
  }
  .signup-button {
    width: 90%;
  }
}
